{% load static %}
<style>
    .table {
        width: 100%;
        border: solid #add9c0;
        border-width: 1px 0px 0px 1px;
    }

    .table td {
        border: solid #add9c0;
        border-width: 0px 1px 1px 0px;
        padding: 10px 0px;
    }

    .first td {
        text-align: center;
        border: solid #add9c0;
        border-width: 0px 1px 1px 0px;
        padding: 2px 0px;
    }

    .center > td {
        text-align: center;
        padding: 2px 0px;
    }

    .center > td input {
        width: 100%;
    }

    .Countdownfirst {
    }

    .Countdownfirst input {
        width: 100%;
    }

    .Countdownsecond {
    }

    .Countdownsecond input {
        width: 100%;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>凭证录入</title>
</head>
<body>
<div>
    <h3>记账凭证</h3>

    <form>
        <table class="table">
            <colgroup>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
            </colgroup>
            <tbody>
            <tr>
                <td colspan="3" class="xl108">
                    年 月 日
                </td>
                <td class="xl94" colspan="24">
                   字 第
                <input type="text">
                    号
                </td>
                <td class="xl94">
                </td>
                <td class="xl95">
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="xl93">
                    摘 要
                </td>
                <td colspan="3" class="xl93">
                    会计科目
                </td>

                <td colspan="11" class="xl93">
                    借方金额
                </td>
                <td class="xl96">
                    　
                </td>
                <td colspan="11" class="xl93">
                    贷方金额
                </td>
                <td class="xl96">
                    　
                </td>
                <td rowspan="2" class="xl112">
                    记账√
                </td>
            </tr>
            <tr>
                <td class="xl93">
                    总账科目
                </td>
                <td class="xl93">
                    明细科目
                </td>
                <td class="xl97">
                    　明细科目(二级）
                </td>
                <td class="xl89" colspan="11">
                    亿
                </td>

                <td class="xl97">
                    　
                </td>
                <td class="xl89" colspan="11">
                    亿
                </td>

                <td class="xl100">
                    　
                </td>
            </tr>
            <tr>
                <td class="xl90">
                    　11
                </td>
                <td class="xl90">
                    　12
                </td>
                <td class="xl90">
                    13　
                </td>
                <td class="xl98">
                    　14
                </td>
                <td class="xl91" colspan="11">
                    　
                </td>

                <td class="xl98">
                    　
                </td>
                <td class="xl91" colspan="11">
                    　19
                </td>

                <td class="xl91">
                    　
                </td>
                <td class="xl90">
                    　
                </td>
            </tr>

            <tr>
                <td class="xl93">
                    附件 张
                </td>
                <td colspan="3" class="xl109">
                    合 计
                </td>

                <td class="xl90" colspan="23" >
                    　
                </td>

                <td class="xl90">
                    　
                </td>
                <td class="xl90">
                    　
                </td>
            </tr>
            <tr>
                <td class="xl107">
                    会计主管
                </td>
                <td class="xl107">
                    记账
                </td>
                <td class="xl107">
                    出纳
                </td>
                <td class="xl107">
                </td>
                <td colspan="11" class="xl111">
                    审核

                </td>

                <td class="xl107">
                </td>
                <td colspan="11" class="xl111">
                    制单

                </td>
                <td class="xl107">
                </td>
                <td class="xl107">
                </td>

            </tr>
            </tbody>
        </table>

    </form>


</div>
<script type="text/javascript">
    function addText() {
        var div = document.getElementById("test");
        div.innerHTML += "<div><input type='text'> <input type='button' value='删除' onclick='deleteText(this)'></div>";
    }

    function deleteText(This) {
        //获取删除按钮的父元素 的 父元素 利用 爷爷元素 删除
        console(This.parentNode.parentNode());
        This.parentNode.parentNode.removeChild(This.parentNode);
    }
</script>
</body>
</html>