{% extends "Base_Bootstrap.html" %}
{% load static %}
{% block title %}凭证录入{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrapValidator.min.css' %}">
    <style type="text/css">

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <form action="{% url 'voucher:voucher_make_form' %}" method="post">
            {% csrf_token %}
            <div class="form-group">

               {{ form.voucher_no }}
                {% if error %}
                    <span>{{ error}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.date }}
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script type="text/javascript">

        $("#voucherdate").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true,
            startDate: '1920-01-01',
            bootcssVer: 3
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $("#RegForm").bootstrapValidator({
                message: '这种写法是没有道理的！',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                    voucher_no: {
                        validators: {
                            notEmpty: {
                                message: '凭证号码不能为空！'
                            },
                        }
                    },

                    dr_mount: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            regexp: {
                                regexp: /^\d+(\.\d+)?$/,
                                message: '金额必须是数字'
                            }
                        }
                    },
                    cr_mount: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            numeric: {
                                message: '金额必须是数字'
                            }
                        }
                    },
                    total_mount: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            numeric: {
                                message: '金额必须是数字'
                            }
                        }
                    },

                }
            });
        })
    </script>
    <script type="text/javascript">
        function provid_accounting_subject(accounting_ategory_id) {
            console.log(accounting_ategory_id);
            var url = "{% url 'AccountingSubject:account_subject_by_categoryid' 12345 %}";
            url = url.replace('12345', accounting_ategory_id);
            $.ajax({
                type: "GET",
                url: url,
                success: function (msg) {
                    $('#account_subject_by_categoryid').find(".modal-body").html(msg);
                    $('#account_subject_by_categoryid').modal('show');
                    {#alert("Data Saved: " + msg);#}
                }

            });

        }

    </script>
    <script type="text/javascript">
        function ac_2_set(a, b, c) {
            alert("a");
        }

        function ac_set(a, b, c) {
            alert("a");
        }

    </script>
{% endblock %}
