{% extends "Base_Bootstrap.html" %}
{% load static %}
{% block title %}凭证录入{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrapValidator.min.css' %}">
    <style type="text/css">

    </style>
{% endblock %}
{% block content %}
    <div class="container table-responsive">
        <h3>记账凭证</h3>
        <form id="RegForm" action="{% url 'voucher:voucher_make' %}" method="post" class="form-inline">
            <div class="container-fluid">
                <div class="row" style="padding: 2px;">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon1">凭证日期：</span>
                            <input size="16" type="text" value="2016-09-14" name="voucherdate" id="voucherdate" readonly
                                   class="form_datetime form-control" aria-describedby="sizing-addon3">
                        </div>
                    </div>
                    <div class="col-md-6">
                          <div class="form-group">
                            <div class="row">
                                <label>字第</label>
                                <input class="form-control" type="text" autofocus name="voucher_no" placeholder="号"
                                       autocomplete="off" data-bv-notempty/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-condensed">

                <tr class="text-center success">
                    <td style="width: 45%;text-align: center" rowspan="2"><strong>摘要</strong></td>
                    <td style="width: 10%;text-align: center" colspan="2">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                data-target="#voucher_setup">
                            科目设置
                        </button>

                    </td>
                    <td class="text-center" style="width: 15%" rowspan="2"><strong>借方金额</strong></td>
                    <td class="text-center" style="width: 15%" rowspan="2"><strong>贷方金额</strong></td>
                    <td class="text-center" style="width: 5%" rowspan="2"><strong>记账√</strong></td>
                </tr>
                <tr class="success" style="text-align: center;">
                    <td class="text-center" style="width: 10%">总账科目</td>
                    <td class="text-center" style="width: 10%">明细科目</td>


                </tr>
                <tr class="danger">
                    <td style="width: 45%">
                        <input type="text" class="form-control" id="brife" placeholder="输入摘要" style="width: 100%;">
                    </td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%"></td>
                    <td style="width: 15%">
                        <div class="form-group">

                            <input type="text" class="form-control" name="dr_mount" id="dr_mount"
                                   placeholder="借方金额">

                        </div>

                    </td>
                    <td style="width: 15%">
                        <div class="form-group">
                            <input type="text" class="form-control" id="cr_mount" name="cr_mount" placeholder="贷方金额">
                        </div>
                    </td>
                    <td style="width: 5%;text-align: center"><input type="checkbox"></td>
                </tr>

                <tr class="success">
                    <td style="width: 45%">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">附件</span>
                            <input type="text" name="enclosure" id="enclosure" class="form-control"
                                   aria-describedby="sizing-addon3" placeholder="张">
                        </div>
                    </td>
                    <td style="width: 10%;text-align: right" colspan="2">合计：</td>
                    <td style="width: 15%" colspan="2">
                        <div class="form-group"><input type="text" class="form-control" name="total_mount"
                                                       id="total_mount"
                                                       placeholder="合计金额"></div>
                    </td>
                    <td style="width: 5%;text-align: center"><input type="checkbox"></td>
                </tr>
            </table>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2"> <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon10">会计主管</span>
                            <input type="text" name="accounting_supervisor" id="eaccounting_supervisor"
                                   class="form-control"
                                   aria-describedby="sizing-addon10">
                        </div></div>
                    <div class="col-md-2">  <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon11">记账</span>
                            <input type="text" name="book_keepinger" id="book_keepinger"
                                   class="form-control"
                                   aria-describedby="sizing-addon11">
                        </div></div>
                    <div class="col-md-2"> <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon12">出纳</span>
                            <input type="text" name="cashier" id="cashier"
                                   class="form-control"
                                   aria-describedby="sizing-addon11">
                        </div></div>
                    <div class="col-md-2"> <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon13">审核</span>
                            <input type="text" name="auditor" id="auditor"
                                   class="form-control"
                                   aria-describedby="sizing-addon13">
                        </div></div>
                    <div class="col-md-4"> <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon14">制单</span>
                            <input type="text" name="order_makinger" id="order_makinger"
                                   class="form-control"
                                   aria-describedby="sizing-addon14">
                        </div></div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </td>
                </tr>
            </table>

            {% csrf_token %}

        </form>


    </div>
    {#模态框#}
    <div class="modal fade bs-example-modal-sm" tabindex="-1" id="voucher_setup" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        会计科目分类
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for i in AS %}
                            <li><a onclick="provid_accounting_subject({{ i.id }})">{{ i.name }}</a>
                            </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <!--会计一级科目明细-->
    <div class="modal fade" id="account_subject_by_categoryid" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">科目设置表</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script type="text/javascript">

        $("#voucherdate").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true,
            startDate: '1920-01-01',
            bootcssVer: 3
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $("#RegForm").bootstrapValidator({
                message: '这种写法是没有道理的！',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                    voucher_no: {
                        validators: {
                            notEmpty: {
                                message: '凭证号码不能为空！'
                            },
                        }
                    },

                    dr_mount: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            regexp: {
                                regexp: /^\d+(\.\d+)?$/,
                                message: '金额必须是数字'
                            }
                        }
                    },
                    cr_mount: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            numeric: {
                                message: '金额必须是数字'
                            }
                        }
                    },
                    total_mount: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            numeric: {
                                message: '金额必须是数字'
                            }
                        }
                    },

                }
            });
        })
    </script>
    <script type="text/javascript">
        function provid_accounting_subject(accounting_ategory_id) {
            console.log(accounting_ategory_id);
            var url = "{% url 'AccountingSubject:account_subject_by_categoryid' 12345 %}";
            url = url.replace('12345', accounting_ategory_id);
            $.ajax({
                type: "GET",
                url: url,
                success: function (msg) {
                    $('#account_subject_by_categoryid').find(".modal-body").html(msg);
                    $('#account_subject_by_categoryid').modal('show');
                    {#alert("Data Saved: " + msg);#}
                }

            });

        }
    </script>
    <script type="text/javascript">
        function ac_2_set(a,b,c) {
            alert("a");
        }

        function ac_set(a,b,c) {
            alert("a");
        }
    </script>
{% endblock %}

