{% extends "iframe_base.html" %}
{% load static %}
{% block title %}凭证录入{% endblock %}
{% block css %}
    <style>
        #AccountingSubjectSelector {
            visibility: hidden;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 10;
            background-color: #d0e9c6;
            padding: 10px;
            cursor: pointer;
            box-shadow: 3px 3px 2px #aaaaaa;
            border: 1px solid;
            border-radius: 5px;
            -moz-border-radius: 5px; /* Old Firefox */
        }

        #AccountingSubjectSelector a {
            color: #a41515;
        }

        #AccountingSubjectSelector li {
            list-style: none;
            margin-right: 10px;
        }

        #AccountingSubjectSelector > ul > li ul {
            display: none;

        }

        .nav > ul > li:hover > a + ul { /*鼠标划过一级菜单的时候二级菜单显示*/
            display: block;
        }

        #AccountingSubjectSelector > ul > li > ul > li:hover ul { /*鼠标划过二级菜单的时候对应的三级菜单显示*/
            display: block;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    <h3 class="text-center">记账凭证</h3>
{% endblock %}
{% block content %}
    <div id="AccountingSubjectSelector">

        <ul>
            <li><a onclick="del_ac()">删除设置</a></li>
            {% for i in AS %}
                <li style="clear: both;" onclick="ac_set(this)">{{ i.name }}
                    <ul>
                        {% for a in i.get_accountingsubject %}
                            {% if a.get_accountingsubject_2 %}
                                <li>{{ a.name }}
                                    <ul>
                                        {% for b in a.get_accountingsubject_2 %}
                                            <li style="clear: both;"><a
                                                    onclick="SubjectSelect2('{{ a.id }}','{{ a.name }}','{{ b.id }}','{{ b.name }}')">
                                                {{ b.name }}{{ b.subject2_no }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li><a onclick="SubjectSelect1('{{ a.id }}','{{ a.name }}')">{{ a.name }}</a>

                                </li>
                            {% endif %}

                        {% endfor %}

                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <form id="RegForm" action="{% url 'voucher:voucher_input' %}" method="post" onsubmit="return validate_form(this)">
        <table style="width: 100%">
            <tr>
                <td>

                </td>
                <td><span>凭证日期：</span>
                    <input type="date" id="txtDate" required="required" name="date" autocomplete="on"/>
                <td><label>字第</label>
                    <input type="text" autofocus name="voucher_no" required="required" placeholder="号"/></td>
            </tr>
        </table>
        <table class="table" id="voucher_content">
            <tr>
                <td style="width: 45%;" rowspan="2"><strong>摘要</strong></td>
                <td style="width: 10%;text-align: center" colspan="2">
                    <strong>科目设置</strong>
                </td>
                <td class="text-center" style="width: 15%" rowspan="2"><strong>借方金额</strong></td>
                <td class="text-center" style="width: 15%" rowspan="2"><strong>贷方金额</strong></td>
                <td class="text-center" style="width: 5%" rowspan="2"><strong>记账√</strong></td>
            </tr>
            <tr>
                <td class="text-center" style="width: 10%">总账科目</td>
                <td class="text-center" style="width: 10%">明细科目</td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_1" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_1">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_1">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_1" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_1" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_1"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_2" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_2">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_2">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_2" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_2" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_2"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_3" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_3">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_3">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_3" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_3" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_3"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_4" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_4">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_4">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_4" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_4" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_4"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_5" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_5">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_5">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_5" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_5" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_5"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_6" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_6">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_6">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_6" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_6" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_6"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_7" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_7">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_7">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_7" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_7" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_7"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_8" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_8">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_8">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_8" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_8" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_8"></td>
            </tr>


            <tr>
                <td style="width:45%">
                    <span>附件</span>
                    <input type="text" name="enclosure" id="enclosure" placeholder="张">
                </td>
                <td style="width: 10%;text-align: right" colspan="2">合计：</td>
                <td style="width: 15%">
                    <input type="text" name="total_drmount" placeholder="合计借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="total_crmount" placeholder="合计贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="isbookkeeping"></td>
            </tr>
        </table>


        <table style="width: 100%">
            <tr>
                <td>
                    <span class="input-group-addon" id="sizing-addon10">会计主管</span>
                    <input type="text" name="accounting_supervisor" id="eaccounting_supervisor"
                           class="form-control" aria-describedby="sizing-addon10">
                </td>
                <td>
                    <span class="input-group-addon" id="sizing-addon11">记账</span>
                    <input type="text" name="book_keepinger" id="book_keepinger"
                           class="form-control"
                           aria-describedby="sizing-addon11">
                </td>
                <td>
                    <span class="input-group-addon" id="sizing-addon12">出纳</span>
                    <input type="text" name="cashier" id="cashier"
                           class="form-control"
                           aria-describedby="sizing-addon11">
                </td>
                <td>
                    <span class="input-group-addon" id="sizing-addon13">审核</span>
                    <input type="text" name="auditor" id="auditor"
                           class="form-control"
                           aria-describedby="sizing-addon13">
                </td>
                <td>
                    <span class="input-group-addon" id="sizing-addon14">制单</span>
                    <input type="text" name="order_makinger" id="order_makinger"
                           class="form-control"
                           aria-describedby="sizing-addon14">
                </td>
            </tr>
            <tr>
                <td>
                    {{ f.errors }}
                </td>
                <td colspan="4" style="text-align: right">
                    <button type="submit" class="btn btn-primary">提交</button>
                </td>
            </tr>
        </table>

        {% csrf_token %}

    </form>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        //Validator验证
        function validate_validateNum(field) {
            with (field) {
                var parent = field.parentNode;
                var patrn = /^-?\d+\.?\d{0,2}$/;
                if (patrn.test(value)) {
                    field.classList.remove('input_error');
                    parent.querySelector("span").innerHTML = "";
                    return true
                }
                else {
                    field.setAttribute('class', 'input_error');
                    parent.querySelector("span").innerHTML = "×输入金额有误"
                    return false
                }
            }
        }

        function validate_form(thisform) {
            with (thisform) {
                console.log(thisform);
                /* if (validate_validateNum() == false) {

                     return false
                 }*/
                return true;
            }
        }
    </script>

    <script type="text/javascript">
        var accountingsubjectselector = {}
    </script>
    <script type="text/javascript">
        //点击表格格子，打开科目设置框
        function subjects_set(a) {
            accountingsubjectselector.selectedtr = a;
            var subj = document.querySelector("#AccountingSubjectSelector");
            if (subj.style.visibility == "visible") {
                subj.style.visibility = "hidden";
            }
            else {
                subj.style.visibility = "visible";
            }
        }

        //打开一级科目，没有用css ahover来做
        function ac_set(a) {

            if (a.childNodes[1].style.display == "block") {
                a.childNodes[1].style.display = "none";
            } else {
                a.childNodes[1].style.display = "block";
            }
        }

        //点击科目设置
        function SubjectSelect1(a, b) {
            accountingsubjectselector.selectedtr.querySelector("span").innerHTML = b;
            accountingsubjectselector.selectedtr.querySelector("input").value = a;
            document.querySelector("#AccountingSubjectSelector").style.visibility = "hidden";//设置完成关闭设置框
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("span").innerHTML = "";
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("input").value = "";
        }

        function SubjectSelect2(a, b, c, d) {
            accountingsubjectselector.selectedtr.querySelector("span").innerHTML = b;
            accountingsubjectselector.selectedtr.querySelector("input").value = a;
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("span").innerHTML = d;
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("input").value = c;
            document.querySelector("#AccountingSubjectSelector").style.visibility = "hidden";//设置完成关闭设置框
        }

        //点击删除设置
        function del_ac() {
            accountingsubjectselector.selectedtr.querySelector("span").innerHTML = "";
            accountingsubjectselector.selectedtr.querySelector("input").value = "";
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("span").innerHTML = "";
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("input").value = "";
            document.querySelector("#AccountingSubjectSelector").style.visibility = "hidden";//设置完成关闭设置框
        }
    </script>




{% endblock %}

