{% extends "Base_2.html" %}
{% load static %}
{% block title %}凭证录入{% endblock %}
{% block css %}
    <style>
        #myacset {
            visibility: hidden;
            position: absolute;
            top: 25%;
            left: 22%;
            width: 53%;
            z-index: 1002;
            overflow: auto;
            background-color: #e6f9da;
            border-radius: 3px;
            box-shadow: 1px 1px 5px #d4f0c1;
        }


    </style>
{% endblock %}
{% block breadcrumb %}


{% endblock %}
{% block content %}
    <div id="myacset">
        <div style="margin-bottom: 20px;">
            <input id="showMaskbtn" type="button" value="关闭" onclick="subjects_close()">
        </div>

        <ul>
            <li><a onclick="del_ac()">删除设置</a></li>
            {% for i in AS %}
                <li><a onclick="open_accountingsubject(this)">{{ i.name }}</a>
                    <ul>
                        {% for myi in i.get_myacset %}
                            {% if myi.get_accountingsubject_2 %}
                                <li><a onclick="open_accountingsubject2(this)">{{ myi.name }}
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-xiala3"></use>
                                    </svg>
                                </a>
                                    <ul>
                                        {% for m2 in myi.get_accountingsubject_2 %}
                                            <li>
                                                <a onclick="SubjectSelect2('{{ myi.id }}','{{ myi.name }}','{{ m2.id }}','{{ m2.name }}')">{{ m2.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <!--准备-->
                                <li><a onclick="SubjectSelect1('{{ myi.id }}','{{ myi.name }}')">{{ myi.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <h3 class="text-center">记账凭证</h3>
    <form id="RegForm" action="{% url 'voucher:voucher_input' %}" method="post" onsubmit="return validate_form(this)">
        <table style="width: 100%">
            <tr>
                <td>

                </td>
                <td><span>凭证日期：</span>
                    <input type="date" id="txtDate" required="required" name="date" autocomplete="on"/>
                <td><label>字第</label>
                    <input type="text" autofocus name="voucher_no" required="required" placeholder="号"/></td>
            </tr>
        </table>
        <table class="table" id="voucher_content">
            <tr>
                <td style="width: 45%;" rowspan="2"><strong>摘要</strong></td>
                <td style="width: 10%;text-align: center" colspan="2">
                    <strong>科目设置</strong>
                </td>
                <td class="text-center" style="width: 15%" rowspan="2"><strong>借方金额</strong></td>
                <td class="text-center" style="width: 15%" rowspan="2"><strong>贷方金额</strong></td>
                <td class="text-center" style="width: 5%" rowspan="2"><strong>记账√</strong></td>
            </tr>
            <tr>
                <td class="text-center" style="width: 10%">总账科目</td>
                <td class="text-center" style="width: 10%">明细科目</td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_1" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_1">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_1">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_1" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_1" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_1"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_2" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_2">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_2">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_2" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_2" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_2"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_3" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_3">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_3">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_3" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_3" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_3"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_4" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_4">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_4">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_4" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_4" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_4"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_5" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_5">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_5">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_5" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_5" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_5"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_6" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_6">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_6">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_6" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_6" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_6"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_7" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_7">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_7">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_7" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_7" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_7"></td>
            </tr>
            <tr class="voucher_content">
                <td style="width: 45%">
                    <input class="width90" type="text" name="vc_bf_8" placeholder="输入摘要" autocomplete="on">
                    <span class="myerror"></span>
                </td>
                <td style="width: 10%;cursor: pointer;" onclick="subjects_set(this)">
                    <span></span><input type="hidden" name="vc_ac_8">
                </td>
                <td style="width: 10%;text-align: center;"><span></span>
                    <input type="hidden" name="vc_ac2_8">
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_dr_8" placeholder="借方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="vc_cr_8" placeholder="贷方金额" onchange="validate_validateNum(this)">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="vc_isBookkeeping_8"></td>
            </tr>


            <tr>
                <td style="width:45%">
                    <span>附件</span>
                    <input type="text" name="enclosure" id="enclosure" placeholder="张" required="required">
                </td>
                <td style="width: 10%;text-align: right" colspan="2" onclick="cal()">合计：</td>
                <td style="width: 15%">
                    <input type="text" name="total_dr" placeholder="合计借方金额">
                    <span class="myerror"></span>
                </td>
                <td style="width: 15%">
                    <input type="text" name="total_cr" placeholder="合计贷方金额">
                    <span class="myerror"></span>
                </td>
                <td style="width: 5%;text-align: center"><input type="checkbox" name="isbookkeeping"></td>
            </tr>
        </table>


        <table style="width: 100%">
            <tr>
                <td>
                    <span>会计主管</span>
                    <input type="text" name="accounting_supervisor" maxlength="12" required="required">
                </td>
                <td>
                    <span>记账</span>
                    <input type="text" name="book_keepinger" maxlength="12">
                </td>
                <td>
                    <span>出纳</span>
                    <input type="text" name="cashier" maxlength="12">
                </td>
                <td>
                    <span>审核</span>
                    <input type="text" name="auditor" maxlength="12">
                </td>
                <td>
                    <span>制单</span>
                    <input type="text" name="order_makinger" maxlength="12" required="required">
                </td>
            </tr>
            <tr>
                <td class="txt_red">
                    {{ f.errors }}
                    {% if msg %}
                        {{ msg }}
                    {% endif %}
                </td>
                <td colspan="4" style="text-align: right">
                    <button type="submit" class="btn btn-primary">提交</button>
                </td>
            </tr>
        </table>

        {% csrf_token %}

    </form>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        //Validator验证
        function validate_validateNum(field) {
            with (field) {
                var parent = field.parentNode;
                var patrn = /^-?\d+\.?\d{0,2}$/;
                if (patrn.test(value)) {
                    field.classList.remove('input_error');
                    parent.querySelector("span").innerHTML = "";
                    cal();
                    return true
                }
                else {
                    field.setAttribute('class', 'input_error');
                    parent.querySelector("span").innerHTML = "×输入金额有误"
                    return false
                }
            }
        }

        function validate_form(thisform) {
            with (thisform) {
                console.log(thisform);
                /* if (validate_validateNum() == false) {

                     return false
                 }*/
                return true;
            }
        }
    </script>

    <script type="text/javascript">
        var accountingsubjectselector = {}
    </script>
    <script type="text/javascript">
        //点击表格格子，打开科目设置框
        function subjects_set(a) {
            accountingsubjectselector.selectedtr = a;
            var subj = document.querySelector("#myacset ");
            if (subj.style.visibility == "visible") {
                subj.style.visibility = "hidden";
            }
            else {
                subj.style.visibility = "visible";
            }
        }

        function subjects_close(a) {
            document.querySelector("#myacset").style.visibility = "hidden";//设置完成关闭设置框
        }

        //自己设计的菜单打开一级，没有用css ahover来做
        function open_accountingsubject(a) {
            var ul = a.parentNode.querySelector('ul');
            if (ul.style.display == "block") {
                ul.style.display = "none";
            } else {
                ul.style.display = "block";
            }
        }

        //自己设计的菜单打开二级，没有用css ahover来做
        function open_accountingsubject2(a) {
            var ul = a.parentNode.querySelector('ul');
            if (ul.style.display == "block") {
                ul.style.display = "none";
            } else {
                ul.style.display = "block";
            }
        }

        //点击科目设置
        function SubjectSelect1(a, b) {
            accountingsubjectselector.selectedtr.querySelector("span").innerHTML = b;
            accountingsubjectselector.selectedtr.querySelector("input").value = a;
            document.querySelector("#myacset").style.visibility = "hidden";//设置完成关闭设置框
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("span").innerHTML = "";
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("input").value = "";
        }

        function SubjectSelect2(a, b, c, d) {
            accountingsubjectselector.selectedtr.querySelector("span").innerHTML = b;
            accountingsubjectselector.selectedtr.querySelector("input").value = a;
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("span").innerHTML = d;
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("input").value = c;
            document.querySelector("#myacset").style.visibility = "hidden";//设置完成关闭设置框
        }

        //点击删除设置
        function del_ac() {
            accountingsubjectselector.selectedtr.querySelector("span").innerHTML = "";
            accountingsubjectselector.selectedtr.querySelector("input").value = "";
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("span").innerHTML = "";
            accountingsubjectselector.selectedtr.parentNode.cells[2].querySelector("input").value = "";
            document.querySelector("#myacset").style.visibility = "hidden";//设置完成关闭设置框
        }
    </script>
    <script type="text/javascript">
        //借贷金额汇总
        function cal() {
            dr1 = isNaN(parseFloat(document.getElementsByName("vc_dr_1")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_dr_1")[0].value);
            dr2 = isNaN(parseFloat(document.getElementsByName("vc_dr_2")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_dr_2")[0].value);
            dr3 = isNaN(parseFloat(document.getElementsByName("vc_dr_3")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_dr_3")[0].value);
            dr4 = isNaN(parseFloat(document.getElementsByName("vc_dr_4")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_dr_4")[0].value);
            dr5 = isNaN(parseFloat(document.getElementsByName("vc_dr_5")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_dr_5")[0].value);
            dr6 = isNaN(parseFloat(document.getElementsByName("vc_dr_6")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_dr_6")[0].value);
            dr7 = isNaN(parseFloat(document.getElementsByName("vc_dr_7")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_dr_7")[0].value);
            dr8 = isNaN(parseFloat(document.getElementsByName("vc_dr_8")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_dr_8")[0].value);
            document.getElementsByName("total_dr")[0].value = parseFloat(dr1 + dr2 + dr3 + dr4 + dr5 + dr6 + dr7 + dr8).toFixed(2);
            cr1 = isNaN(parseFloat(document.getElementsByName("vc_cr_1")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_cr_1")[0].value);
            cr2 = isNaN(parseFloat(document.getElementsByName("vc_cr_2")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_cr_2")[0].value);
            cr3 = isNaN(parseFloat(document.getElementsByName("vc_cr_3")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_cr_3")[0].value);
            cr4 = isNaN(parseFloat(document.getElementsByName("vc_cr_4")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_cr_4")[0].value);
            cr5 = isNaN(parseFloat(document.getElementsByName("vc_cr_5")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_cr_5")[0].value);
            cr6 = isNaN(parseFloat(document.getElementsByName("vc_cr_6")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_cr_6")[0].value);
            cr7 = isNaN(parseFloat(document.getElementsByName("vc_cr_7")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_cr_7")[0].value);
            cr8 = isNaN(parseFloat(document.getElementsByName("vc_cr_8")[0].value)) ? 0 : parseFloat(document.getElementsByName("vc_cr_8")[0].value);
            document.getElementsByName("total_cr")[0].value = parseFloat(cr1 + cr2 + cr3 + cr4 + cr5 + cr6 + cr7 + cr8).toFixed(2);
        }
    </script>




{% endblock %}

