{% extends "Base_Bootstrap.html" %}
{% load static %}
{% block title %}凭证录入{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrapValidator.min.css' %}">
    <style type="text/css">
        .subjects_set {
            position: relative;
            pointer-events: none;
            text-align: center;
        }

        .addtr {
            position: relative;
            pointer-events: none;
        }

        .addtr:after {
            pointer-events: auto;
            display: block;
            content: url({% static 'img/bg/sc.png' %});
            position: absolute;
            top: -10px;
            left: 0px;
            cursor: pointer;
        }

        #voucher_setup a {
            cursor: pointer;
        }

        .subjects_set:after {
            pointer-events: auto;
            display: block;
            content: url({% static 'img/bg/sc.png' %});
            position: absolute;
            top: -10px;
            left: 0px;
            cursor: pointer;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container table-responsive">
        <h3>记账凭证</h3>
        <form id="RegForm" action="{% url 'voucher:voucher_make' %}" method="post" class="form-inline">
            <div class="container-fluid">
                <div class="row" style="padding: 2px;">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon1">凭证日期：</span>
                            <input size="16" type="text" value="2016-09-14" name="voucherdate" id="voucherdate" readonly
                                   class="form_datetime form-control" aria-describedby="sizing-addon3">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <label>字第</label>
                                <input class="form-control" type="text" autofocus name="voucher_no" placeholder="号"
                                       autocomplete="off" data-bv-notempty/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-condensed" id="voucher_content">

                <tr class="text-center success">
                    <td class="addtr" style="width: 45%;text-align: center" rowspan="2"><strong>摘要</strong></td>
                    <td style="width: 10%;text-align: center" colspan="2">
                        <strong>科目设置</strong>
                    </td>
                    <td class="text-center" style="width: 15%" rowspan="2"><strong>借方金额</strong></td>
                    <td class="text-center" style="width: 15%" rowspan="2"><strong>贷方金额</strong></td>
                    <td class="text-center" style="width: 5%" rowspan="2"><strong>记账√</strong></td>
                </tr>
                <tr class="success" style="text-align: center;">
                    <td class="text-center" style="width: 10%">总账科目</td>
                    <td class="text-center" style="width: 10%">明细科目</td>


                </tr>
                <tr class="danger">
                    <td style="width: 45%">
                        <input type="text" class="form-control" name="brife_no_1" placeholder="输入摘要"
                               style="width: 100%;">
                    </td>
                    <td class="subjects_set" style="width: 10%;">
                        <span></span><input type="hidden" class="form-control" name="ac_no_1">
                    </td>

                    <td style="width: 10%;text-align: center;"><span></span>
                        <input type="hidden" class="form-control" name="ac_2_no_1">
                    </td>
                    <td style="width: 15%">
                        <div class="form-group">

                            <input type="text" class="form-control" name="dr_mount_no_1"
                                   placeholder="借方金额">

                        </div>

                    </td>
                    <td style="width: 15%">
                        <div class="form-group">
                            <input type="text" class="form-control" name="cr_mount_no_1" placeholder="贷方金额">
                        </div>
                    </td>
                    <td style="width: 5%;text-align: center"><input type="checkbox" name="isBookkeeping_no_1"></td>
                </tr>


                <tr class="success">
                    <td style="width: 45%">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">附件</span>
                            <input type="text" name="enclosure" id="enclosure" class="form-control"
                                   aria-describedby="sizing-addon3" placeholder="张">
                        </div>
                    </td>
                    <td style="width: 10%;text-align: right" colspan="2">合计：</td>
                    <td style="width: 15%">
                        <div class="form-group"><input type="text" class="form-control" name="total_drmount"
                                                       placeholder="合计借方金额"></div>
                    </td>
                    <td style="width: 15%">
                        <div class="form-group"><input type="text" class="form-control" name="total_crmount"
                                                       placeholder="合计贷方金额"></div>
                    </td>
                    <td style="width: 5%;text-align: center"><input type="checkbox" name="isbookkeeping"></td>
                </tr>
            </table>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon10">会计主管</span>
                            <input type="text" name="accounting_supervisor" id="eaccounting_supervisor"
                                   class="form-control" aria-describedby="sizing-addon10">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon11">记账</span>
                            <input type="text" name="book_keepinger" id="book_keepinger"
                                   class="form-control"
                                   aria-describedby="sizing-addon11">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon12">出纳</span>
                            <input type="text" name="cashier" id="cashier"
                                   class="form-control"
                                   aria-describedby="sizing-addon11">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon13">审核</span>
                            <input type="text" name="auditor" id="auditor"
                                   class="form-control"
                                   aria-describedby="sizing-addon13">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon14">制单</span>
                            <input type="text" name="order_makinger" id="order_makinger"
                                   class="form-control"
                                   aria-describedby="sizing-addon14">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </td>
                </tr>
            </table>

            {% csrf_token %}

        </form>


    </div>
    {#模态框#}
    <div class="modal fade bs-example-modal-sm" tabindex="-1" id="voucher_setup" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        会计科目分类
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for i in AS %}
                            <li><a onclick="provid_accounting_subject({{ i.id }})">{{ i.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <!--会计一级科目明细-->
    <div class="modal fade" id="account_subject_by_categoryid" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">科目设置表</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script type="text/javascript">

        $("#voucherdate").datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true,
            startDate: '1920-01-01',
            bootcssVer: 3
        });
    </script>
    <script type="text/javascript">
        var trnumber = null;
        $(document).ready(function () {
            $('.subjects_set').on('click', function (e) {
                trnumber = $(this);
                $('#voucher_setup').modal('show');
            });
            $('.addtr').on('click', function (e) {
                if (confirm("插入明细栏？")) {

                    var tb = document.getElementById("voucher_content");
                    var trIndex = tb.rows.length - 1;
                    console.log(trIndex - 1);
                    var newTr = tb.insertRow(trIndex);//添加新行，trIndex就是要添加的位置
                    newTr.setAttribute('class', 'danger');
                    var newTd1 = newTr.insertCell();
                    newTd1.innerHTML = "<input type=\"text\" class=\"form-control\" name=\"brife_no_" + trIndex + "\" placeholder=\"输入摘要\" style=\"width: 100%;\">";
                    var newTd2 = newTr.insertCell();
                    newTd2.className = "subjects_set";
                    newTd2.innerHTML = "<span></span><input type=\"hidden\" class=\"form-control\" name=\"ac_no_" + trIndex + "\">";
                    var newTd3 = newTr.insertCell();
                    newTd3.style = "width: 10%;text-align: center;";
                    newTd3.innerHTML = "<span></span> <input type=\"hidden\" class=\"form-control\" name=\"ac_2_no_1\">";
                    var newTd4 = newTr.insertCell();
                    newTd4.style = "width: 15%";
                    newTd4.innerHTML = " <div class=\"form-group\"><input type=\"text\" class=\"form-control\" name=\"dr_mount_no_" + trIndex + "\" placeholder=\"借方金额\" onblur=\"validateNum(this)\"></div>";
                    var newTd5 = newTr.insertCell();
                    newTd5.style = "width: 15%";
                    newTd5.innerHTML = " <div class=\"form-group\"><input type=\"text\" class=\"form-control\" name=\"dr_mount_no_" + trIndex + "\" placeholder=\"贷方金额\" onblur=\"validateNum(this)\"></div>";
                    var newTd6 = newTr.insertCell();
                    newTd6.style = "width: 5%;text-align: center";
                    newTd6.innerHTML = "<input type=\"checkbox\" name=\"isBookkeeping_no_"+trIndex+"\">";

                }
                else {
                }

            });
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $("#RegForm").bootstrapValidator({
                message: '这种写法是没有道理的！',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                    voucher_no: {
                        validators: {
                            notEmpty: {
                                message: '凭证号码不能为空！'
                            },
                        }
                    },
                    dr_mount_no_1: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            regexp: {
                                regexp: /^\d+(\.\d+)?$/,
                                message: '金额必须是数字'
                            }
                        }
                    },
                    cr_mount_no_1: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            regexp: {
                                regexp: /^\d+(\.\d+)?$/,
                                message: '金额必须是数字'
                            }
                        }
                    },

                    total_drmount: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            numeric: {
                                message: '金额必须是数字'
                            }
                        }
                    },
                    total_crmount: {
                        validators: {
                            notEmpty: {
                                message: '金额不能为空！'
                            },
                            numeric: {
                                message: '金额必须是数字'
                            }
                        }
                    },

                }
            });
        })
    </script>
    <script type="text/javascript">
        function validateNum(a) {
            var patrn = /^-?\d+\.?\d{0,2}$/;
            if (patrn.test(a.value)) {
                console.log(a.value);
            }
            else {
                a.value = "";
                a.onfocus;
                alert("输入有效金额！");
            }

        }
    </script>
    <script type="text/javascript">
        function provid_accounting_subject(accounting_ategory_id) {
            console.log(accounting_ategory_id);
            var url = "{% url 'AccountingSubject:account_subject_by_categoryid' 12345 %}";
            url = url.replace('12345', accounting_ategory_id);
            $.ajax({
                type: "GET",
                url: url,
                success: function (msg) {
                    $('#account_subject_by_categoryid').find(".modal-body").html(msg);
                    $('#account_subject_by_categoryid').modal('show');
                    {#alert("Data Saved: " + msg);#}
                }

            });

        }

    </script>
    <script type="text/javascript">
        function ac_2_set(acid, acname, ac2id, ac2name) {
            console.log(acid, acname, ac2id, ac2name);
            trnumber.find("span").html(acname);
            trnumber.find("input").val(acid);
            trnumber.next().find("span").html(ac2name);
            trnumber.next().find("input").val(ac2id);
        }

        function ac_set(acid, acname) {
            trnumber.find("span").html(acname);
            trnumber.find("input").val(acid);
        }

    </script>
{% endblock %}

