body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

/**CSS Reset 开始**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    font-size: 12px;
    font-size: 0.8em;
}

@charset "utf-8";
* {
    box-sizing: border-box;
}

.clearfix:after, .cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*顶部导航*/
#nav {
    background: -webkit-linear-gradient(#f0fde8, #daf2ca); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#f0fde8, #daf2ca); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#f0fde8, #daf2ca); /* Firefox 3.6 - 15 */
    background: linear-gradient(#f0fde8, #daf2ca); /* 标准的语法 */
    height: 70px;
    line-height: 70px;
    box-shadow: 1px 1px 5px #d4f0c1;
}

#nav ul {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

#nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    width: 100px;
}

a {
    text-decoration: none;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

/*顶部导航结束*/
footer {
    border-top: 1px solid #1b1e21;
    padding: 20px;
}

.footer {

    height: 50px;
}

/*------------------公共类------*/
.text-center {
    text-align: center;
}

.block-center {
    margin: 0px auto;
}

.table {
    width: 100%;
    border: 1px solid green;
    border-collapse: collapse;
}

.table th, tr {
    height: 30px;
    text-align: center;
    padding: 5px;

}

.table th {
    font-size: medium;
}

.table td {
    text-align: center;
    padding: 5px;
    border: 1px solid green;
}

/*-----------------------voucher_input------------------------------------------------*/
#voucher_content img {
    cursor: pointer;
}

input {
    padding: 4px 3px 4px 2px;

}

.width90 {
    width: 90%;
}

input:focus {
    background-color: yellow;
}

/*----------------------------------span 错误样式 -----------------------------      */
.myerror {
    padding: 2px 2px;
    display: block;
    color: #993300;
}

.input_error {
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
    border-color: rgba(255, 0, 0, .75);
    -webkit-box-shadow: 0 0 12px rgba(251, 149, 149, 3);
}

.breadcrumb {
    margin: 10px 0px;
}

.wrapper {
    padding: 10px;
}

.left {
    width: 40%;
    float: left;
    padding: 20px
}

.right {
    width: 60%;
    float: right;
    padding: 20px;
}

#myacset {
    padding: 20px;
}

#myacset li {
    list-style: none;
    margin-bottom: 15px;

}

#myacset > ul > li ul li {
    position: relative;
}

#myacset > ul > li ul li:after {
    position: absolute;
    content: url(../img/bg/line.png);
    top: 0px;
    left: -75px;
}

#myacset a {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #8a6d3b;
    border-radius: 3px;
    line-height: 30px;

}

#myacset > ul > li ul {
    margin-left: 100px;
    margin-top: 10px;
    display: none;
}

.txt_red {
    color: #ff0000;
}

.txt_blue {
    color: #505691;
}

/*----------------------日期自定义格式，配合datecontrol.js文件使用--------------------------------*/
#calendarPanel {
    box-shadow: 2px 2px 2px #d8d8d8;
    border-radius: 2px;
}

#calendarPanel table {
}

#calendarPanel table th {
    padding: 8px;
}

#calendarPanel table td {
    padding: 8px;
}

#nextMonth, #prevMonth {
    cursor: pointer;
}

#calendarYear, #calendarMonth { /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    width: 80pt;
    height: 20pt;
    line-height: 10pt;
    padding-right: 5pt;
    text-indent: 4pt;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #999999;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: SimHei;
    font-size: 18pt;
    font-weight: 500;
    color: RGBA(102, 102, 102, 0.7);
    cursor: pointer;
    outline: none;

}

#calendarHour, #calendarMinute, #calendarSecond {
    width: 40pt;
    height: 20pt;
    line-height: 10pt;
    padding-right: 5pt;
    text-indent: 4pt;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #999999;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: SimHei;
    font-size: 8pt;
    font-weight: 200;
    color: RGBA(102, 102, 102, 0.7);
    cursor: pointer;
    outline: none;
}

#calendarClear, #calendarToday, #calendarClose {
    box-shadow: 1px 1px 1px #d8d8d8;
    border-radius: 2px;
    width: 50px;
    height: 35px;
    padding: 1px;
    cursor: pointer;
}

.date_setup input {
    background: url(../img/time.png) right no-repeat;
    border: 1px solid #4cae4c;
    border-radius: 5px;
    padding: 5px;
}

/*-----------------------------------------------------日期控件css结束-------------------------------------------------------------------------*/