body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

html {
    font-size: 100%;
    font-size: 12px;
    font-size: 0.8em;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

footer {
    border-top: 1px solid #1b1e21;
}

.wrapper {
    min-height: calc(100vh - 70px);

}

.footer {
    height: 50px;
}

/*------------------公共类------*/
.text-center {
    text-align: center;
}

.block-center {
    margin: 0px auto;
}

.table {
    width: 100%;
    border: 1px solid green;
    border-collapse:collapse;
}

.table th, tr {
    height: 30px;
}

.table td {
    text-align: center;
    padding: 5px;
    border:1px solid green;
}

#myerror {
    width: 150px;
    height: 30px;
    line-height: 30px;
    color:#ffffff;
    background-color: #ff9900;
    -moz-box-shadow: 2px 2px 1px #888888; /* 老的 Firefox */
    box-shadow: 2px 2px 1px #888888;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
}

/*-----------------------voucher_input------------------------------------------------*/
  #voucher_content img{
            cursor: pointer;
        }

        input {
            padding: 4px 3px 4px 2px;

        }

        .width90 {
            width: 90%;
        }

        input:focus {
            background-color: yellow;
        }
/*----------------------------------span 错误样式 -----------------------------      */
.myerror
{
    padding: 2px 2px;
    display: block;
    color: #993300;
}
.input_error{
-webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
border-color:rgba(255,0,0,.75);
-webkit-box-shadow:0 0 12px rgba(251,149,149,3);
}