body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

html {
    font-size:100%;
font-size:12px;
font-size:0.8em;
}
.navbar-default{
    box-shadow: 1px 1px 1px #aaaaaa;
}

img{
  max-width:100%;
}
#RegForm .row{padding: 2px;}
#RegForm .row .col-md-2{margin-bottom: 1px}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

@media (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}