{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="//at.alicdn.com/t/font_988541_cuxo9o082mw.js" type="text/javascript"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
<div id="nav">
    <ul style="float: left">
        <li><a href="">账务系统</a></li>
        <li><a href="{% url 'voucher:voucher_input' %}">凭证录入</a></li>
        <li><a href="{% url 'voucher:voucherlist' %}">凭证勾账</a></li>
        <li><a href="{% url 'ledger:ledgerlist' %}">总账查询</a></li>
        <li> <a href="{% url 'ledger:ledgersetup' %}">账页设置</a></li>
    </ul>

</div>

<div class="breadcrumb clearfix">
    {% block breadcrumb %}
    {% endblock %}
</div>
<div class="wrapper">
    {% block content %}
    {% endblock %}
</div>

<footer>

    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-guoxue"></use>
    </svg>
    <strong>重庆圣天数码科技 </strong>
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-shouji"></use>
    </svg>
    <abbr title="Phone">联系人：彭先生&nbsp;&nbsp;手机：15310167836</abbr>
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-dianhua"></use>
    </svg>
    电话： 023-传真：023-63036703
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-youjian"></use>
    </svg>
    <a href="mailto:#">15266320@qq.com</a>
    <svg class="icon " aria-hidden="true">
        <use xlink:href="#icon-dizhi"></use>
    </svg>
    重庆市巴南区李家沱马王坪正街2号商-7号

</footer>

{% block js %}
{% endblock %}
</body>
</html>
