{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="//at.alicdn.com/t/font_988541_hq2y0dccfs.js" type="text/javascript"></script>

</head>
<body>
<div class="wrapper">
{% block breadcrumb %}
{% endblock %}
{% block content %}
{% endblock %}

  </div>
<footer>

        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-icon-test6"></use>
        </svg>
        <strong>重庆圣天数码科技 </strong>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-shouji"></use>
        </svg>
        <abbr title="Phone">联系人：彭先生&nbsp;&nbsp;手机：15310167836</abbr>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-dianhua"></use>
        </svg>
        电话： 023-传真：023-63036703
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-youjian"></use>
        </svg>
        <a href="mailto:#">15266320@qq.com</a>
        <svg class="icon " aria-hidden="true">
            <use xlink:href="#icon-dizhi"></use>
        </svg>
        重庆市巴南区李家沱马王坪正街2号商-7号

</footer>
{% block js %}
{% endblock %}

</body>
</html>